<div class="card">
    <h5 class="card-header">

    </h5>
    <div class="card-body">
        <h5 class="card-title"> {{direccion.direccion}}</h5>
        <div class="card-title">
            {{direccion.referencia}}
        </div>
        <div class="card-title">
            {{direccion.codigo_postal}}
        </div>
        {% if edit %}
        <div class="mt-2">
            <a href="{% url 'direcciones_envio:update' direccion.pk %}" class="btn btn-info">Editar</a>
            {% if direccion.default %}
            <div class="text-info">
                Dirección principal
            </div>
            {%else%}
            <a href="{% url 'direcciones_envio:default' direccion.pk %}" class="btn btn-warning">Default</a>
            <a href="{% url 'direcciones_envio:delete' direccion.pk %}" class="btn btn-danger">Eliminar</a>
            {%endif%}
        </div>
        {% endif %}
        
    </div>
</div>