{% extends 'base.html' %}
{% load producto_extras %}

{% block content %}
<div class="col-3">
    <img src="{{producto.imagen.url}}" alt="Imagen del producto" width="200" height="200">
</div>
<div class="col">
    <div class="h1">
        {{producto.titulo}}
    </div>
    <div class="h5 font-weight-bold">
        Precio: <span class="text-danger"> {{producto.precio | precio_format }}</span>
    </div>
    <div class="">
        <p>{{producto.descripcion}}</p>
    </div>
    <div>
        {% include 'carritos/snippets/add.html' %}
    </div>
</div>
{% endblock %}