{% extends 'base.html' %}
    {% block content %}
        <div class="col">
            <h1>{{message}}</h1>
                <ul class="list-group">
                    {% for producto in productos %}
                    <li class="list-group-item">
                        {{producto.titulo}}
                            {% if producto.stock %}
                            <span class="text-success">Disponible</span>
                            {% else %}
                            <span class="text-danger">No disponible</span>
                            {% endif %}
                        </span>
                    </li>
                    {% endfor %}
                </ul>
                
        </div>
    {% endblock %}
        