{% extends 'base.html' %}
    {% block content %}
        <div class="col">
            <h1>{{message}}</h1>
                <ul class="list-group">
                    {% for producto in producto_list %}
                    <li class="list-group-item">
                        {{producto.titulo}}
                        <span class="text-success">L. {{producto.precio}}</span>
                    </li>
                    {% endfor %}
                </ul>
                
        </div>
    {% endblock %}
        